.footer {
  color: $color-gray-0;
  padding-top: $spacing-3;
  padding-bottom: $spacing-3;
  background-color: #222;
  .footer-title {
    color: $color-white-0;
    font-size: 80%;
  }
  .footer-policy {
    a {
      display: block;
      color: $color-gray-0;
      font-size: $fs-0;
      font-weight: $fw-bold-1;
      line-height: 2.3;
      transition: all 0.2s;
      text-decoration: none;
      &:hover {
        color: $color-white-0;
      }
    }
  }
  .footer-parter {
    a {
      position: relative;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: $spacing-2;
        overflow: hidden;
      }
      .footer-parter__overplay {
        position: absolute;
        top: -4px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: $spacing-2;
        background: $color-black-0;
        opacity: 0;
        transition: all 0.2s;
      }
      &:hover {
        text-decoration: none;
        .footer-parter__overplay {
          opacity: 0.7;
        }
      }
    }
  }
  .footer-social {
    a {
      i {
        font-size: 30px;
        color: $color-gray-0;
        padding: 0 7px;
      }
    }
  }
  // .hrFooter {
  //   border-top: 1px solid $color-gray-2;
  // }
  // .footer-contact {
  //   .footer-contact__info {
  //     span {
  //       display: block;
  //       color: $color-gray-0;
  //       font-size: $fs-0;
  //       line-height: 1.8;
  //       font-weight: 400;
  //     }
  //     span:first-child {
  //       color: $color-white-0;
  //     }
  //   }
  //   .imgZion {
  //     border-radius: 8px;
  //     width: 80px;
  //     height: auto;
  //   }
  //   .imgBoCong {
  //     width: 130px;
  //     border-radius: 8px;
  //   }
  // }
}
@include mediaQueryMax("large") {
	.footer{
		.footer-title{
			display: none;
		}
		.footer-parter{
			display: none;
		}
	}
}
@include mediaQueryMax("medium") {
	.footer{
		.footer-policy {
			text-align: center;
			a{
				display: inline-block;
				margin-right: $spacing-2;
			}
		}
		// .footer-contact {
		// 	width: 90%;
		// 	margin: 0 auto;
		// }
	}
}
