.homeMovies{
    cursor: pointer;
    @include nav-item();
    .tab-content{
        .card{
            height: 450px;
            margin-bottom: $spacing-4;
            .card-header{
                position: relative;
                border-radius: $border-radius;
                margin-bottom: $spacing-1;
                .card-img-top{
                    height: 360px;
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }
                span{
                    z-index: 10;
                    position: absolute;
                    color: $color-white-0;
                    border-radius: $border-radius;
                    text-align: center;
                }
                span:nth-child(2){
                    font-size: $fs-2;
                    top: 12px;
                    left: 12px;
                    background-color: $color-orange-0;
                    padding: $spacing-0 $spacing-1;
                    min-width: 33px;
                    text-align: center;
                }
                span:last-child{
                    top: 12px;
                    right: 12px;
                    font-size: $fs-2 + 2;
                    background-color: rgba(12,27,54,.8);
                    border: 1px solid #1f2e46;
                    padding: 2px;
                    width: 60px;
                    line-height: 1.1;
                }
                .card-overplay{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, $color-white-0, $color-black-0);
                    opacity: 0;
                    transition: all .2s;
                }
                .card-play{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: 0 0;
                    border: 0;
                    width: 60px;
                    height: 60px;
                    opacity: 0;
                    transition: all .2s;
                }
            }
            .card-body{
                position: relative;
                .card-text, .card-bookTicket{
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .2s;
                }
                .card-text{
                    opacity: 1;
                    p:first-child{
                        height: 45px;
                        color: $color-black-0;
                        font-size: $fs-2;
                        font-weight: $fw-bold-0;
                        @include line-clamp(2);
                    }
                    p:last-child{
                        color: $color-gray-2;
                        font-size: $fs-1 - 1;
                    }
                }
                .card-bookTicket{
                    background: linear-gradient(to left,$color-orange-0,#ce3017 100%);;
                    border-radius: $border-radius;
                    text-align: center;
                    opacity: 0;
                    a{
                        width: 100%;
                        color: $color-white-0;
                        font-size: $fs-2 + 2;
                    }
                }
            }
            &:hover{
                .card-header{
                    .card-overplay{
                        opacity: 0.6;
                    }
                    .card-play{
                        opacity: 1;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
                .card-body{
                    .card-text{
                        opacity: 0;
                    }
                    .card-bookTicket{
                        opacity: 1;
                    }
                }
            }
        }

    }
}