.newsblock{
	.homeNews{
		@include nav-item();
		#myTabContentHomeNews{
			.card{
				background-color: transparent;
				img{
					// position: absolute;
					// top: 0;
					// left: 0;
					transition: all .2s;
					width: 100%;
					height: 100%;
					border-radius: $border-radius;
				}
				a{
					color: #333;
					transition: color .2s;
					&:hover{
						text-decoration: none;
						color: $color-orange-1;
					}
				}
				.card-title{
					font-size: $fs-2;
					line-height: 20px;
					font-weight: $fw-bold-1;
					height: 42px;
					@include line-clamp(2);
				}
				.card-text{
					text-align: justify;
					font-size: 13px;
					color: $color-gray-2;
					padding: 0 $spacing-0 0 0;
					line-height: 19px;
					height: 55px;
					@include line-clamp(3);
				}
				.newsblock__icon{
					height: 25px;
					.wrapIcon{
						cursor: pointer;
						img{
							margin-right: $spacing-1;
							margin-top: 2px;
							// height: auto;
							width: 18px;
							transition: all .2s;
						}
						p{
							color: #bbb;
							font-size: $fs-0;
						}
						&:hover{
							img{
								transform: scale(1.1);
							}
						}
					}
					.like{
						line-height: 25px;
					}
				}
			}
			.newsThumbnail{
				margin-bottom: $spacing-1;
				img{
					width: 50px;
					height: 50px;
					margin-right: $spacing-1;
					border-radius: $border-radius;
				}
				p{
					font-size: $fs-2;
					line-height: 20px;
					height: 42px;
					transition: color .2s;
					margin-bottom: $spacing-0;
					color: $color-black-0;
					margin-top: $spacing-0;
					@include line-clamp(2);
				}
				a:hover{
					p{
						color: $color-orange-1;
					}
				}
			}
			.wrapButtonSeeMoreNews{
				button{
					@include button(transparent, $color-gray-0, 14px, 7px, 25px, 1px solid $color-gray-0, 4px);
					// color: ;
					// border: 1px solid $color-gray-0;
					// border-radius: $border-radius;
					// text-align: center;
					// padding: 7px 25px;
					// transition: all .2s;
					margin-top: $spacing-4 + 10;
					margin-bottom: $spacing-4;
					&:hover{
						color: $color-white-0;
						background-color: $color-orange-1;
						border-color: $color-orange-1;
					}
				}
			}

		}
	}
	.supportFixed{
		position: fixed;
		right: 10px;
		bottom: 10px;
		transition: all .2s;
		width: 175px;
		height: 183px;
		background-image: url("https://123phim.vn/app/assets/img/support.png");
		background-repeat: no-repeat;
		background-size: 175px 183px ;
		background-position: top left;
		opacity: 1;
	}
}
@include mediaQueryMax("large"){
	.newsblock{
		.supportFixed{
			display: none;
		}
	}
}
